<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Playground
        //when we have to something ro value we have to add = sign
        <ul>
            <% for(let i = 0; i< 6; i++) { %>
                <li>
                    <%= i %>
                </li>
            <% } %>
        </ul>
    </h1>

    <% if(true) { %>
        <h1> Its true</h1>
    <% } else {%>
        <p>Ist false</p>
        <% } %>
</body>
</html>